#CONFIGURACION DEL SERVIDOR
SERVER_PORT # = <puerto en el cual la APP trabajará>

#CONFIGURACION DE LA BASE DE DATOS
DB_NAME # = <nombre de la BD>
DB_USER # = <usuario de la BD>
DB_PWD  # = <password de la BD>

#CONFIGURACION DE SECRET KEY PARA PASSPORT
SECRET_KEY # = <llave secreta>

#CONFIGURACIÓN DE LÍMITES (MÁXIMOS) DE MOCKING. EL VALOR DEBE SER NUMÉRICO EN CADA CASO
USERS_LIMIT # = <límite de usuarios>
PETS_LIMIT = 2000 # = <límite de mascotas>
PRODUCTS_LIMIT = 2000 # = <límite de productos>

#CONFIGURACIÓN DE PARAMETROS DE MOCKING.
USERS_PWD = # = <password para usuarios creados con mocking>